body{
    background-color: aliceblue;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}
nav a{
    font-family: 'Times New Roman','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: dashed;
    text-align: center;
}
.bemvindo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
}
img{
    height: 300px;
    width: 200px;
    position: relative;
    top: 40px;
    left: 40px;
}
footer{
    background-color:rgb(233, 3, 145) ;
    margin: auto;
    padding: 20px ;
    border-radius: 10px 20px 30px 40px;
}